.directory
.idea
atlassian-ide-plugin.xml
meta/meta-upload/.settings/
meta/meta-upload/.project
meta/meta-upload/.classpath
meta/meta-upload/target/
meta/vufind/module/VuDL/
meta/vufind/module/VuFind/
meta/vufind/module/VuFindAdmin/
meta/vufind/module/VuFindConsole/
meta/vufind/module/VuFindDevTools/
meta/vufind/module/VuFindHttp/
meta/vufind/module/VuFindLocalTemplate/
meta/vufind/module/VuFindSearch/
meta/vufind/module/VuFindTheme/
meta/vufind/solr/authority/
meta/vufind/solr/biblio/
meta/vufind/solr/jetty/
meta/vufind/solr/lib/
meta/vufind/solr/reserves/
meta/vufind/solr/solr.xml
meta/vufind/solr/stats/
meta/vufind/solr/website/
meta/vufind/themes/blueprint/
meta/vufind/themes/bootprint/
meta/vufind/themes/bootstrap/
meta/vufind/themes/jquerymobile/
meta/vufind/themes/root/
meta/vufind/LICENSE
meta/vufind/README.md
meta/vufind/build.xml
meta/vufind/composer.json
meta/vufind/composer.lock
meta/vufind/config/
meta/vufind/data/
meta/vufind/harvest/
meta/vufind/hierarchy_xml/
meta/vufind/import-marc-auth.bat
meta/vufind/import-marc-auth.sh
meta/vufind/import-marc.bat
meta/vufind/import-marc.sh
meta/vufind/import/
meta/vufind/index-alphabetic-browse.bat
meta/vufind/index-alphabetic-browse.sh
meta/vufind/install.php
meta/vufind/languages/
meta/vufind/local/
meta/vufind/nohup.out
meta/vufind/public/
meta/vufind/run_vufind.bat
meta/vufind/tests/
meta/vufind/util/
meta/vufind/vendor/
meta/vufind/vufind.bat
meta/vufind/vufind.sh
meta/vufind/vufind2.conf
