.fav {
    background-image:url(../images/icons/bookmarks.png);
    background-repeat:no-repeat;
    background-position: left;
    padding:.5em .5em .5em 20px;
    margin-right:1em;
}
.topicslist {
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
}