<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns="http://www.springframework.org/schema/security"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <!-- debug/ -->
    <global-method-security pre-post-annotations="enabled"/>

    <http pattern="/logout" security="none"/>
    <http pattern="/favicon.ico" security="none"/>
    <http pattern="/login" security="none"/>
    <http pattern="/WEB-INF/views/login.jsp" security="none"/>
    
   
    <http use-expressions="true">
        <intercept-url pattern="/archive/**" access="hasAuthority('admin')"/>
        <intercept-url pattern="/jobs/**" access="hasAuthority('admin')"/>
        <intercept-url pattern="/process/**" access="hasAuthority('admin')"/>
        <intercept-url pattern="/solr/**" access="hasAuthority('admin')"/>
		<intercept-url pattern="/**" access="isAuthenticated()"/>
		        
        <form-login	login-page="/login"
                       authentication-failure-url="/login?auth=fail"
                       default-target-url="/upload"
                       always-use-default-target="true"
                />
        <logout logout-success-url="/login?logout=success"/>
    </http>
    <authentication-manager>
        <authentication-provider>
            <user-service id="userDetailsService" properties="file:/var/local/ida/users.properties"/>
        </authentication-provider>
    </authentication-manager>

    <!-- Required to have SecurityContext in @Async -->
    <beans:bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <beans:property name="targetClass"
                        value="org.springframework.security.core.context.SecurityContextHolder"/>
        <beans:property name="targetMethod" value="setStrategyName"/>
        <beans:property name="arguments">
            <beans:list>
                <beans:value>MODE_INHERITABLETHREADLOCAL</beans:value>
            </beans:list>
        </beans:property>
    </beans:bean>
</beans:beans>
