// ROBOTO - WEBFONT

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url($theme-path-fonts + '/roboto/roboto-thin.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url($theme-path-fonts + '/roboto/roboto-light.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url($theme-path-fonts + '/roboto/roboto-regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url($theme-path-fonts + '/roboto/roboto-medium.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url($theme-path-fonts + '/roboto/roboto-bold.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url($theme-path-fonts + '/roboto/roboto-black.woff') format('woff');
}

// DROID SERIF - WEBFONT

@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Serif'), local('DroidSerif'), url($theme-path-fonts + '/droid-serif/DroidSerif.woff') format('woff');
}

@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Serif Bold'), local('DroidSerif-Bold'), url($theme-path-fonts + '/droid-serif/DroidSerif-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Droid Serif';
  font-style: italic;
  font-weight: 400;
  src: local('Droid Serif Italic'), local('DroidSerif-Italic'), url($theme-path-fonts + '/droid-serif/DroidSerif-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Droid Serif';
  font-style: italic;
  font-weight: 700;
  src: local('Droid Serif Bold Italic'), local('DroidSerif-BoldItalic'), url($theme-path-fonts + '/droid-serif/DroidSerif-BoldItalic.woff') format('woff');
}

// Libre Baskerville - WEBFONT

@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url($theme-path-fonts + '/librebaskerville/LibreBaskerville-Regular.woff') format('woff');
}

// Icomoon ICONS- WEBFONT

@font-face {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: 400;
  src: local('icomoon'), local('icomoon'), url($theme-path-fonts + '/icomoon/icomoon.woff') format('woff');
}