/** ***********************************
 * Global
 ************************************ */

body {
    background: #F0F0F0 none;
    margin: 0;
    font-family: Verdana,Helvetica,Arial,sans-serif !important;
    font-size: 80%;
}

a, a:visited, a:focus, a:hover {
    color: #036;
    text-decoration: none;
}

/** ***********************************
 * Content
 ************************************ */

.main {
    border-top: 0 none;
    padding: 0.8em 0;
}

.container {
    box-shadow: none;
    border: 0 none;
    border-radius: 0;
    background-color: #FFF;
    margin: 0;
}

.container .contentLeft {
    width: 19%;
    float: left;
    min-height: 300px;
}

.container .contentRight {
    width: 81%;
    display: inline-block;
    float: left;
}

/** ***********************************
 * Header
 ************************************ */

.header {
    padding: 0;
}

#headerLeft {
    height: 140px;
    display: block;
    width: 19%;
    float: left;
    position: relative;
}

#headerLeft a.link {
    background-color: rgb(204, 204, 153);
    line-height: 1.2em;
    padding: 2px 1em 2px 2em;
    display: block;
}

#headerRight {
    background: url("../images/small/humboldt_universitaet_logo.jpg") no-repeat scroll 650px 6px transparent;
    display: block;
    float: left;
    height: 140px;
    position: relative;
    width: 81%;
}

#banner {
    position: relative;
    width: 568px;
    height: 140px;
}

#bannerImg {
    display: block;
    width: 568px;
    height: 110px;
    margin-top: 10px;
}

#bannerLink {
    color: #FFFFFF;
    background-color: #036;
    display: block;
    line-height: 1.2em;
    padding: 2px 1em 2px 2em;
    text-align: left;
}

#logo {
    background: none repeat scroll 0 0 transparent;
    display: block;
    float: none;
    font-weight: bold;
    line-height: 1em;
    padding-left: 20px;
    text-decoration: none;
    width: auto;
    height: 120px;
}

#headerMenu {
    background-color: #e1e1e1;
    border-top-left-radius: 5px;
    padding: 0 15px 0 10px;
    position: absolute;
    right: 0;
    top: 96px;
    z-index: 1;
}

#loginOptions,
#headerMenu form {
    display: inline;
    margin: 0;
}

#loginOptions .login {
    background: transparent none;
    padding: 0 5px;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
}

#headerMenu form select {
    height: 24px;
    margin: 0;
    width: 100px;
}

/** ***********************************
 * Footer
 ************************************ */

.footer {
    background-color: #E1E1E1;
    border: 0 none;
    padding: 17px 20px;
    min-height: 250px;
    position: relative;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer .span-5 {
    width: 160px;
}

.footer .span-5 p {
    color: #036;
    font-weight: bold;
}

.footer .span-5 li {
    padding: 2px 0;
}

.footer ul a {
    color: #036;
    text-decoration: none;
}

.footer .copyright {
    position: absolute;
    bottom: 20px;
}

.footer .copyright li {
    display: inline-block;
}

.footer .copyright li,
.footer .copyright li a,
.footer .copyright li a:hover {
    color: #76797c;
    padding-right: 15px;
}

.footer .share {
    position: absolute;
    bottom: 18px;
    right: 10px;
}

.footer .share li {
    display: inline-block;
}

.footer .share li {
    margin-right: 5px;
}

.footer .share .separate {
    margin-right: 20PX
}

/** ***********************************
 * Page: home
 ************************************ */

.searchHomeContent {
    width: auto;
}

.searchHomeForm {
    background-color: #e1e1e1;
    border: 0 none;
    border-radius: 0;
    padding: 20px;
    width: 530px;
}

div.searchHomeForm div.searchform  {
    width: auto;
}