/** ***********************************
 * Global
 ************************************ */

body {
    background: #F0F0E8 none;
    margin: 0;
    font-family: Verdana,Helvetica,Arial,sans-serif !important;
    font-size: 80%;
    color: #333333;
    line-height: 1.5em;
}

a, a:visited, a:focus, a:hover {
    color: #036;
    text-decoration: none;
    line-height: 1.2em;
}

a:hover {
    text-decoration: underline;
}

input,
textarea,
select {
    font-size: 1em;
    color: #036;
}

input[type="submit"] {
    border: 0 none;
    background-color: transparent;
    padding: 0;
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"]::-moz-focus-inner {
    padding: 0;
    border: 0
}

textarea,
input[type="text"],
input[type="password"]{
    box-shadow: 0 1px 2px #999 inset;
    border: 0 none;
    background-color: #FFFFFF;
    padding: 2px;
}

h1, h2, h3, h4, h5, h6 {
    color: #1a1a1a;
}

h1 {
    margin: 20px;
}

strong,
label,
legend {
    font-weight: normal;
}

footer,
strong {
    font-weight: bold;
}

fieldset {
    border: 0;
}

ul {
    list-style: none;
    padding: 0;
}

/** ***********************************
 * Content
 ************************************ */

.main {
    border-top: 0 none;
    padding: 0;
}

/* Select all main headlines on a page, which are not marked as H1 */
.resulthead h2,
.resulthead h3,
.main > h2,
.main > h3,
.main > div:first-child > h2,
.main > div:first-child > h3 {
    margin: 20px 0;
}

.container {
    box-shadow: none;
    border: 0 none;
    border-left: 1px solid #ccccb2;
    border-right: 1px solid #ccccb2;
    border-radius: 0;
    background-color: #FFF;
    margin: 0 auto;
    max-width: 100em;
    min-width: 82em;
    width: auto;
}

.container .contentLeft {
    width: 19%;
    float: left;
    min-height: 300px;
}

.container .contentRight {
    display: inline-block;
    float: left;
    padding-bottom: 60px;
    padding-left: 2%;
    width: 79%;
}

.sidegroup {
    margin-top: 20px;
}

.sidegroup li {
    color: #000000;
}

.sidegroup .similar a {
    text-decoration: none;
}
.sidegroup .similar a:hover {
    text-decoration: underline;
}

div.sidegroup h4 {
    border-bottom: 0 none;
    font-size: 1em;
    font-weight: bold;
}

.sidegroup #publishDate {
    margin: 20px 0;
    width: 160px;
}

.sidegroup .navmenu dt {
    background-color: #F0F0E8;
}

.span-5 {
    width: 20%;
}

.span-18 {
    margin-right: 2%;
    width: 76.3%;
}

.delete,
.add {
    background: transparent none;
    padding: 0;
}

.add:after {
    content: " [+]";
}

.delete:after {
    content: " [-]";
}

/* Remove a lot of default background icons */
.fav,
.logout,
.list,
.account,
.new_account,
.feed,
.mailSearch,
.citeRecord,
.smsRecord,
.mailRecord,
.exportMenu,
.currentTree,
.hierarchyTreeLinkText,
.tree,
.mail,
.edit,
.export,
.print,
.saveRecord {
    padding: 0;
    background: none transparent;
}

table.datagrid th {
    background-color: #e1e1e1;
    border-color: #FFFFFF;
}

tbody tr:nth-child(2n) td, tbody tr.even td {
    background-color: #FFFFFF;
}

.error,
.alert,
.info {
    background-color: transparent;
    margin: 20px 0;
    text-align: left;
}

div.unavailable,
div.fatalError {
    border-radius: 0;
    font-size: inherit;
    margin: 20px 0;
    padding: 20px;
    width: 72.2%;
}

div.unavailable h1,
div.fatalError h1 {
    margin: 0 0 20px 0;
}

div.bulkActionButtons input.button {
    padding: 0;
    color: #003366;
    font-weight: normal;
    text-decoration: none;
    font-family: Verdana,Helvetica,Arial,sans-serif;
    line-height: 20px;
}

a.smallButton {
    border: 0 none;
    background-color: transparent;
    color: #003366;
    padding: 0;
}

#mainNav {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: none;
}

#mainNav li {
    background-color: rgb(204, 204, 153);
    border-top: 1px solid #ffffff;
    display: block;
    padding: 2px 1em 2px 20px;
}

#mainNavOpener {
    background: url("../images/icons/menu_button.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 40px;
    margin: 1px 0 0 17px;
    width: 42px;
}

/** ***********************************
 * Header
 ************************************ */

.header {
    padding: 0;
}

#headerLeft {
    height: 160px;
    display: block;
    width: 19%;
    float: left;
    position: relative;
}

#headerLeft a.link {
    background-color: rgb(204, 204, 153);
    display: block;
    padding: 4px 1em 4px 20px;
}

#headerRight {
    display: block;
    float: left;
    height: 160px;
    position: relative;
    width: 81%;
}

#banner {
    background: url("../images/medium/main_banner.jpg") no-repeat scroll 0 28px transparent;
    padding-top: 137px;
    position: relative;
    width: 77%;
}

#humboldImg {
    position: absolute;
    right: 26px;
    top: 20px;
}

#bannerLink {
    background-color: #036;
    color: #ffffff;
    display: block;
    line-height: 1.2em;
    padding: 4px 20px;
    text-align: left;
}

#logo {
    background: none repeat scroll 0 0 transparent;
    display: block;
    float: none;
    font-weight: bold;
    line-height: 1em;
    text-decoration: none;
    width: auto;
    height: 137px;
}

#logo img {
    margin-top: 22px;
}

#headerMenu {
    background-color: #ccd6e0;
    border-top-left-radius: 5px;
    min-width: 28%;
    padding: 0 10px;
    position: absolute;
    right: 0;
    top: 114px;
    z-index: 1;
}

#headerMenu a {
    line-height: 20px;
}

#headerMenu .divider {
    background-color: #ffffff;
    display: inline-block;
    height: 11px;
    margin: 12px 8px 0;
    vertical-align: top;
    width: 1px;
}

#headerMenu form {
    display: inline-block;
    margin: 0;
}

#logoutOptions,
#loginOptions {
    display: inline-block;
    height: 20px;
    line-height: 20px;
}


#logoutOptions.hide,
#loginOptions.hide {
    display: none;
}

#loginOptions .login {
    background: transparent none;
    padding: 0;
}

#headerMenu form select {
    height: 18px;
    margin: 1px 0 0;
    width: 100px;
    font-size: 0.8em;
}

/** ***********************************
 * Footer
 ************************************ */

.footer {
    background-color: #e1e1e1;
    border: 0 none;
    padding: 16px 20px;
    min-height: 250px;
    position: relative;
    margin-left: 21%;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer .span-5 p {
    color: #036;
    font-weight: bold;
}

.footer .span-5 li {
    padding: 2px 0;
}

.footer ul a {
    color: #036;
    text-decoration: none;
}

.footer .copyright {
    position: absolute;
    bottom: 16px;
}

.footer .copyright li {
    display: inline-block;
}

.footer .copyright li,
.footer .copyright li a,
.footer .copyright li a:hover {
    color: #76797c;
    padding-right: 15px;
}

.footer .share {
    bottom: 14px;
    position: absolute;
    right: 0;
}

.footer .share li {
    display: inline-block;
    margin-right: 5px;
    overflow: hidden;
}

.footer .share li a {
    display: block;
    font-size: 16px;
    height: 16px;
    width: 16px;
    background-image: url("../images/icons/share_sprite.png");
    background-repeat: no-repeat;
    background-position: top left;
}

.footer .share li a:hover {
    background-image: url("../images/icons/share_sprite_hover.png");
}

.footer .share .fb {
    background-position: 0px -30px;
    width: 20px;
    height: 20px;
}

.footer .share .tw {
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
}

.footer .share .netvibes {
    background-position: 0px -120px;
    width: 20px;
    height: 20px;
}

.footer .share .flickr {
    background-position: 0px -60px;
    width: 20px;
    height: 20px;
}

.footer .share .librarything {
    background-position: 0px -90px;
    width: 22px;
    height: 20px;
}

.footer .share .rss {
    background-position: 0px -150px;
    width: 20px;
    height: 20px;
}

.footer .share .separate {
    margin-right: 20PX
}

.footer .share .hiddenStructure {
    visibility: hidden;
}

/** ***********************************
 * Overwrite jquery UI styles
 ************************************ */

.ui-dialog {
    padding: 0;
    border: 1px solid #CCCCCC;
}

.ui-dialog-titlebar {
    border: 0 none;
    border-bottom: 1px solid #CCCCCC;
    padding: 6px 20px !important; /* Important is used to overwrite the jQuery style */
    color: #003366;
}

.ui-dialog .ui-dialog-content {
    padding: 20px;
}

.ui-corner-all {
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important; /* We don't have round corners */
}

.ui-state-hover,
.ui-state-cover {
    background: #EEEEEE none !important; /* We don't use gradient images on focus */
}

.ui-widget-header {
    background: none #e1e1e1;
}

/** ***********************************
 * Page element: Filters
 ************************************ */

ul.filters {
    background-color: #AAAAAA;
}

/** ***********************************
 * Page element: Year selector
 ************************************ */

#publishDate {
    width: 250px;
}

#publishDate .yearbox {
    text-align: center;
    width: 82px;
}

#publishDate legend {
    margin-bottom: 10px;
}

#publishDate legend:after {
    content: ":";
}

#publishDate {
    margin-left: 80px;
    padding: 0;
}

#publishDate #publishDateSlider {
    display: none;
}

/** ***********************************
 * Page element: Breadcrump
 ************************************ */

div.breadcrumbs {
    border-top: 0 none;
    margin: 20px 0;
    padding-left: 7px;
}

div.breadcrumbs,
div.breadcrumbs a {
    color: #76797c;
    height: auto;
}

div.breadcrumbs span {
    background: transparent none;
    padding: 0;
    width: 10px;
    vertical-align: top;
    font-size: inherit;
    line-height: inherit;
    opacity: 1;
}

div.breadcrumbs span,
div.breadcrumbs a,
div.breadcrumbs em {
    height: 15px;
    line-height: 15px;
}

/** ***********************************
 * Page element: Js Tree
 ************************************ */

div.jstree a {
    color: #003366;
}

.jstree-default a.jstree-hovered,
.jstree-default a.jstree-clicked {
    border: 0 none;
    padding: 1px 2px;
}

.jstree-default a.jstree-hovered {
    background-color: #F0F0E8;
}

.jstree-default a.jstree-clicked {
    background-color: #e1e1e1;
}

/** ***********************************
 * Page element: Top search box
 ************************************ */

.contentRight div.topSearchBox:first-child {
    margin-top: 20px;
}

.topSearchBox {
    background-color: #e1e1e1;
    border: 0 none;
    padding: 15px 15px 10px 15px;
    position: relative;
}

.topSearchBox #searchForm_type {
    margin: 0 15px;
    padding: 0;
    width: 190px;
}

.topSearchBox #searchForm_lookfor {
    font-size: 1.25em;
    padding: 5px;
    width: 470px;
}

.topSearchBox input[type="submit"]:after {
    content: "gfzuf&raquo;";
}

.topSearchBox .advancedSearch {
    border-left: 1px solid #ffffff;
    font-size: 1em;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    position: absolute;
    right: 10px;
    top: 0;
    width: 20.5%;
    z-index: 1;
}

.topSearchBox input[type="submit"] {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    font-weight: normal;
    font-size: 14px;
    padding: 5px 20px;
    cursor: pointer;
}

/** ***********************************
 * Page element: Top search box
 ************************************ */

#tabnav {
    border: 0 none;
    background: none #e1e1e1;
    font-size: inherit;
}

#tabnav li {
   padding: 8px 0 0;
}

#tabnav .active a,
#tabnav li a,
#tabnav .active a:hover,
#tabnav li a:hover {
    padding: 8px 20px 14px;
    color: #036;
}

#tabnav .active {
    background: transparent none;
}

#tabnav .active a {
    background: none #F0F0E8;
}

/** ***********************************
 * Page element: Toolbar
 ************************************ */

.toolbar {
    padding: 20px 0 10px 0;
    border: 0 none;
}

.toolbar ul.menu {
    z-index: 999;
}

/** ***********************************
 * Page element: Login form
 ************************************ */

#loginForm label.span-2 {
    width: 100px;
}

#loginForm input.push-2 {
    margin: 10px 110px;
}

/** ***********************************
 * Page: home
 ************************************ */

.searchHomeContent {
    margin: 0 8%;
    padding: 30px 0 60px;
    width: 61%;
}

.searchHomeBrowse {
    padding: 0;
}

.searchHomeForm {
    background-color: #e1e1e1;
    border: 0 none;
    border-radius: 0;
    padding: 20px;
}

.searchHomeForm #searchForm_lookfor {
    border: 0 none;
    display: block;
    padding: 5px;
    width: 99%;
    width: calc(100% - 10px); /* Border and padding */
}

div.searchHomeForm div.searchform  {
    width: auto;
}

.searchHomeForm .submit {
    display: block;
    margin: auto;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    font-weight: normal;
    font-size: 14px;
    padding: 5px 20px;
    cursor: pointer;
}

.searchHomeForm a.advancedSearch {
    display: block;
    margin: 5px 0 0 0;
    line-height: 1em;
}

/** ***********************************
 * Page: Advanced search
 ************************************ */

#advSearchForm .advSearchContent {
    padding: 20px 20px 15px;
    background-color: #e1e1e1;
    width: auto;
}

#advSearchForm h1 {
    margin-top: 0;
}

#advSearchForm h2 {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
}

#advSearchForm .group {
    background: 0 none;
    border: 0 none;
}

#group2SearchHolder,
#group1SearchHolder,
#group0SearchHolder {
    padding: 10px 0;
}


#advSearchForm .groupSearchDetails {
    border: 0 none;
    float: none;
    padding: 10px 0 0;
}

#advSearchForm .delete {
    padding-left: 5px;
}

#advSearchForm .groupSearchDetails .join label {
   width: 75px;
   display: inline-block;
}

#advSearchForm .groupSearchDetails select {
    width: 200px;
}

#advSearchForm .advRow {
    padding: 3px 0;
}

#advSearchForm .advRow .label {
    width: 75px;
    text-align: left;
    padding: 0;
}

#advSearchForm .advRow .terms {
    width: 45%;
}

#advSearchForm .advRow .field {
    padding: 0 0 0 6px;
    position: relative;
    width: 216px;
}

#advSearchForm .advRow .field select {
    position: absolute;
    right: 0;
    top: 0;
    width: 90%;
    padding: 0;
}

#advSearchForm .addSearch {
    padding: 0 0 0 80px;
}

#advSearchForm .firstSubmit {
    margin-bottom: 8px;
}

#advSearchForm input[type="submit"] {
    margin-left: 80px;
}

#advSearchForm .searchGroups {
    font-size: 1em;
}

#advSearchForm #groupJoin {
    margin-top: 10px;
}

#advSearchForm fieldset {
    margin-bottom: 0;
}

#advSearchForm #addGroupLink {
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    display: block;
    margin: 10px -20px;
    padding: 10px 0 10px 100px;
}

/** ***********************************
 * Page: Search view
 ************************************ */

ul.recordSet .recordNumber {
    text-align: left;
}

ul.recordSet li.alt {
    background-color: #F0F0E8;
}

/** ***********************************
 * Page: Search item detail view
 ************************************ */

.authorbox {
    background: 0 none;
    margin: 20px 0;
    padding: 0 0 5px;
    border-bottom: 1px solid #e1e1e1;
}

.authorbox strong {
    font-weight: bold;
}

.authorbox .span-5 {
    width: 31%;
}

.authorbox  #showLessFacettes,
.authorbox  #moretopic_facet {
    margin: 15px 0;
    display: block;
}

#record {
    padding: 20px 0 0 0;
    position: relative;
}

#record > .span-13 {
    width: 100%;
    margin: 0;
}

#record > .span-4 {
    position: absolute;
    right: 0;
    top: 20px;
    text-align: right;
}

#record > .span-4 img {
    display: inline;
}

#record h1 {
    position: relative;
    padding-right: 120px;
    font-size: 1.3em;
    line-height: 1.2em;
    margin: 10px 0;
}

#record #saveRecord {
    display: block !important;
    margin: 0;
    text-align: right;
}

#record .iconlabel,
#record .citation {
    font-size: inherit;
}

#record .citation th {
    text-align: right;
    font-weight: normal;
    width: 100px;
}

#record .citation td,
#record .citation th {
    border: 0 none;
    color: #333333;
}

#record td[property="author"],
#record td[property="published"] {
    padding-right: 120px;
}

#record #hideTooManyTopicTopics,
#record #showAllTopicTopics {
    line-height: 2.5em;
}

.recordsubcontent {
    background: none #F0F0E8;
}

.recordsubcontent .citation div {
    width: auto !important; /* Overwrite style attribute */
}

div.recordsubcontent table.citation {
    width: 100%;
}

.recordsubcontent table.citation th {
    padding-right: 10px;
    width: 25%;
}

#treeSearch {
    border: 0 none;
    padding: 10px 0;
    background-color: #F0F0E8;
}

#treeSearch input[id="search"] {
    border: 0 none;
    background-color: transparent;
    padding: 0;
    font-weight: bold;
    cursor: pointer;
    line-height: 20px;
    margin-right: 20px;
}

#treeSearch #treeSearchType {
    margin: 0 15px;
    width: 190px;
}

#treeSelector .tree {
    display: block;
    padding: 3px;
}

#treeSelector .tree:before {
    content: "[+] ";
}

#hierarchyTree a ins.jstree-icon {
    display: none;
}

#hierarchyTreeHolder {
    padding: 0;
}

#hierarchyTree {
    max-height: 600px;
}

#advSearchForm .sidegroup {
    margin-top: 60px;
}

.sidegroup .searchHelp,
.sidegroup .advsearchHelp {
    line-height: 2em;
}

/** ***********************************
 * Page: Browse
 ************************************ */

.browseNav {
    margin-top: 20px;
    border: 1px solid #CCCCCC;
}


.browseNav a,
.browseNav a:hover {
    background: none transparent;
    color: #003366;
}

.browseNav .active a,
.browseNav .active a:hover {
    background: none #e1e1e1;
}

.browseNav a.viewRecords {
    float: none;
    margin: 0;
    padding: 0 8px;
    display: block;
}

/** ***********************************
 * Page: Tag cloud
 ************************************ */

.tag_cloud {
    padding: 20px 0 0 0;
    width: 76.3%;
}

/** ***********************************
 * Page: Topics
 ************************************ */

.topicslist,
.pagination {
    width: 76.3%;
}

.pagination a,
.pagination a:hover {
    border: 1px solid transparent;
}

/** ***********************************
 * Page: Topics
 ************************************ */

.resulthead {
    border : 0;
    padding: 0;
}

.resulthead .floatleft {
    font-weight: bold;
}

#alphaBrowseForm {
    padding: 15px;
    background-color: #e1e1e1;
    margin: 60px 0;
}